* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  border: 2px solid fuchsia;
  box-shadow: rgb(240, 234, 234) 0px 50px 100px -20px,
    rgba(86, 9, 121, 1) 0px 30px 60px -30px,
    rgba(255, 0, 159, 1) 0px -2px 6px 0px inset;
  width: 40%;
  height: 20%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(240, 234, 234) 0%,
    rgba(86, 9, 121, 1) 45%,
    rgba(255, 0, 159, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
